.Home2-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;
}
.Home2-container .Home2{
          width: 85%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

}
.Home2-container .Home2 .Home2-Top{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2vmax;
}
.Home2-container .Home2 .Home2-Top  .rc-right-bg {
    background: url("../../assets/images/Home2TextImg.png") no-repeat right bottom;
    background-size: contain;
    padding: 25px 90px;
    font-size: 3vmax;
    font-family: Arial, Helvetica, sans-serif;
}


@media (max-width: 768px){
    .Home2-container {
        width: 100%;
    }
    .Home2-container .Home2{
              width: 95%;
    }
    .Home2-container .Home2 .Home2-Top{
              width: 100%;
              padding: 0vmax;
    }
    .Home2-container .Home2 .Home2-Top  .rc-right-bg {
        background: url("../../assets/images/Home2TextImg.png") no-repeat right bottom;
        background-size: cover;
        padding: 40px 25px;
        font-size: 4vmax;
    }

}
